*{
	padding:0;
	margin:0;
	/*box-sizing:border-box;*/
}
ul,li{
	list-style:none;
	}
html,body{
	font-size:12px;
	font-family:"微软雅黑","Microsoft Yahei";
	}
a{
	text-decoration:none;
	color:#666;
	}
a:hover,.top .top-left a:hover{
	color:#ff3c3c;
	}
.left{
	float:left;
	}
.right{
	float:right;
	}
.clearfix{
	clear:both;
	}
	
.wrap{
	width:1200px;
	margin:0 auto;
	}		
	

/**top样式区域**/
.top{
	padding-top:2px;
	height:32px;
	min-width:1200px;
	line-height:32px;
	background-color:#f9f9f9;
	border-bottom:1px solid #f1f1f1;
	}
.top .top-left a{
	color:#2D5DDD;
	}	
.top .top-right > li{
	position:relative;
	float:left;
	padding-right:10px;
	}

.top .top-right > li >a{
	display:block;
	padding:0 10px;
	}	
.top .top-right > li > i{
	position:absolute;
	top:12px;
	right:6px;
	width:11px;
	height:11px;
	background:url(../images/indexhead_sprite.png) -287px -260px;
	}	
.top .top-right > li.line{
	width:1px;
	height:12px;
	background-color:#ccc;
	margin-top:11px;
	padding:0;
	}	
.top .top-right .phone{
	padding-left:10px;
	}
.top .phone a i{
	position:absolute;
	top:8px;
	left:7px;
	width:10px;
	height:16px;
	background:url(../images/indexhead_sprite.png) -288px -229px;
	}	
.top .top-right > li.dropdown{
	border:1px solid #f9f9f9;
	border-bottom:none;
	}
.top .top-right > li.dropdown:hover{
	border:1px solid #ccc;
	background-color:#fff;
	}	
.top .top-right > li:hover .dropdown-menu{
	display:block;
	}	
.top .top-right .dropdown-menu{
	position:absolute;
	left:-1px;
	z-index:999;
	line-height:25px;
	border:1px solid #ccc;
	background-color:#fff;
	width:100%;
	border-top:none;
	display:none;
	}	
.top .top-right .dropdown-menu li{
	text-indent:10px;
	}		

/*top30 样式*/
.top30{
	margin:30px 0;	
	}	

.search-box{
	margin-top:20px;
	margin-left:150px;
	}
.search-box p{
	margin:6px 0;
	}	
.search-box p a{
	margin:0 4px;
	}	
.search-form{
	position:relative;
	width:520px;
	border:2px solid #ff3c3c;
	height:28px;
	}		
	
.search-form label{
	float:left;
	width:80px;
	height:28px;
	background-color:#f1f1f1;
	text-align:center;
	line-height:28px;
	border-right:1px solid #ccc;
	}	
.search-form button{
	position:absolute;
	right:0;
	top:0;
	float:right;
	width:98px;
	height:28px;
	background-color:#ff3c3c;
	border:none;
	color:#fff;
	}
.search-form input{
	width:321px;
	border:0;
	height:16px;
	padding:6px 10px;
	}	

/*导航区域样式*/
.nav{
	height:36px;
	border-bottom:2px solid #ff3c3c;
	}
.nav .nav-list > li{
	position:relative;
	float:left;
	margin-right:30px;
	line-height:36px;
	}
.nav-list > li.red >a{
	color:#ff3c3c;
	}	
.nav-list > li >a {
	font-size:14px;
	font-weight:bold;
	color:#333;
	}	
.nav-list > li >a:hover{
	color:#ff3c3c;
	}
.nav-list #all > a{
	display:block;
	width:210px;
	height:36px;
	background-color:#ff3c3c;
	background-image:url(../images/indexhead_sprite.png);
	background-position:-110px -1202px;
	color:#fff;
	line-height:36px;
	text-indent:50px;
	}
.nav-list #all .all-list{
	position:absolute;
	width:210px;
	z-index:999;
	}	
.nav-list #all li{
	line-height:32px;
	height:32px;
	background:#C13131;
	color:#fff;
	text-indent:40px;
	background-image:url(../images/nav.png);
	background-repeat:no-repeat;
	}
	
.nav-list #all li.nav1{
	background-position:10px 5px;
	}		
	
.nav-list #all li.nav2{
	background-position:10px -40px;
	}

.nav-list #all li.nav3{
	background-position:10px -85px;
	}
.nav-list #all li.nav4{
	background-position:10px -125px;
	}
.nav-list #all li.nav5{
	background-position:10px -165px;
	}
.nav-list #all li.nav6{
	background-position:10px -205px;
	}
.nav-list #all li.nav7{
	background-position:10px -245px;
	}
.nav-list #all li.nav8{
	background-position:10px -285px;
	}
.nav-list #all li.nav9{
	background-position:10px -325px;
	}
.nav-list #all li.nav10{
	background-position:10px -365px;
	}	
.nav-list #all li.nav11{
	background-position:10px -400px;
	}
.nav-list #all li.nav12{
	background-position:10px -440px;
	}														
.nav-list #all li a{
	color:#fff;
	}
.nav-list #all li i{
	float:right;
	margin-right:20px;
	margin-top:10px;
	width:6px;
	height:11px;
	background:url(../images/indexhead_sprite.png) 0 -1160px;
	}	

/*banner 样式***/
.banner{
	width:100%;
	height:382px;
	background-color:#ff3c3c;
	}	
.banner .wrap{
	position:relative;
	}	
.banner .banner-l{
	position:absolute;
	left:210px;
	}	
.banner .slide-img a{
	display:block;
	}
		
.banner .slide-img a img{
	height:382px;
	width:750px;
	}	
.banner .slide-page{
	position:absolute;
	bottom:20px;
	width:100%;
	text-align:center;
	}	
.banner .slide-page li{
	display:inline-block;
	width:20px;
	height:20px;
	background-color:#ccc;
	margin:0 5px;
	}	

.banner .banner-r{
	position:absolute;
	right:0;
	top:0;
	width:240px;
	height:382px;
	background-color:#fff;
	overflow:hidden;
	}	
.banner .banner-r-top{
	height:71px;
	padding:12px 0 12px 25px;
	overflow:hidden;
	}	
.banner .banner-r-top a{
	display:inline-block;
	text-align:center;
	margin-right:10px;
	}
		
.banner .banner-r-middle{
	height:62px;
	padding:10px 12px 10px 12px;
	border-top:1px solid #ccc;
	border-bottom:1px solid #ccc;
	overflow:hidden;
	}	
.banner .banner-r-bottom{
	height:203px;
	}			
.banner .banner-r-middle a{
	display:block;
	height:20px;
	line-height:20px;
	/*溢出文字省略号显示...**/
	overflow:hidden;
	text-overflow:ellipsis;/**文字溢出通过圆点(...)显示*/
	white-space:nowrap;/*文字内容强制不换行**/
	}
.banner .tabs{
	overflow:hidden;
	}		
.banner .tabs a{
	float:left;
	width: 80px;
	height:30px;
	background-color:#f7f7f7;
	border-left:1px solid #f1f1f1;
	margin-left:-1px;
	text-align:center;
	line-height:30px;
/*溢出文字省略号显示...**/
	overflow:hidden;
	text-overflow:ellipsis;/**文字溢出通过圆点(...)显示*/
	white-space:nowrap;/*文字内容强制不换行**/
	}	
.banner .tabs a.active{
	background-color:#fff;
	color:#ff3c3c;
	}	

.banner .hfkc-form p{
	margin:10px 0;
	}
.banner .hfkc-form label{
	display:inline-block;
	width:80px;
	height:20px;
	text-align:right;
	line-height:20px;
	}	
	
.banner .hfkc-form input,.banner .hfkc-form select{
	padding:4px 6px;
	height:12px;
	width:104px;
	border:1px solid #ccc;
	}	
.banner .hfkc-form select{
	width:118px;
	height:24px;
	}
.banner .hfkc-form span{
	color:#ff3c3c;
	}		
.banner .hfkc-form .charge{
	display:block;
	margin:0 auto;
	border:0;
	width:78px;
	height:30px;
	background-color:#F8545B;
	color:#fff;
	}

/*section 内容区域 个护厨卫 & 食品饮料**/
.section{
	background-color:#F9F9F9;
	padding:30px 0;
	}
.section .sec-title{
	font-weight:normal;
	font-size:16px;
	color:#ff3c3c;
	border-bottom:2px solid #ff3c3c;
	line-height:30px;
	}
.section .sec-con{
	overflow:hidden;
	}
.section .sec2 .sec-title{
	color:#A8D12B;
	border-bottom-color:#A8D12B;
	}	
.section .sec-title div{
	font-size:12px;
	color:#666;
	}		
.section .sec-title a{
	margin:0 5px;
	}

.sec-con >div{
	float:left;
	height:360px;
	color:#fff;
	text-align:center;
	line-height:100px;
	font-size:50px;
	}	
/*宽度为210**/
.w-210{
	width:210px;
	}
/*宽度为220**/
.w-220{
	width:220px;
	}
/*宽度为330**/
.w-330{
	width:330px;
	}	
/*高度为180*/	
.sec-con >div.h-180{
	height:180px;
	}	
.section .sec-con-a{
	background-color:red;	
	}
.section .sec-con-b{
	background-color:green;
	}			
.section .sec-con-f{
	background-color:pink;
	}
.section .sec-con-g{
	background-color:purple;
	}
.section .sec-con-h{
	background-color:cyan;
	}	
.section .sec-con-i{
	background-color:yellow;
	}
.section .sec-con-j{
	margin-top:-180px;
	background-color:gold;
	}				
/*copyright 底部样式*/	
.copyright{
	padding:30px 0 0 0;
	text-align:center;
	line-height:30px;
	color:#666;
	}
.copyright a{
	margin:0 10px;
	}	